<!-- educacion2 -->


{% extends "formatoPrincipal4.html" %}

{% block content2 %}
<title>CV Educación</title> 
{% endblock %}

{% block content %}
<!-- <h2 class="lead"><b>Educación</b></h2> -->
<h4>Educación</h4>
<hr>
<br><p><br><b>Magister en Gerencia de Recursos Humanos</b>. 2002<br>
        Universidad Nacional Experimental “Rafael María Baralt”. VE<br><br><br><br>
        <b>Ingeniero de Sistemas</b>. 1984<br>
        Universidad de Los Andes (ULA). VE<br><br><br><br><br><br><br><br>
    </p>
{% endblock %}