{% extends "formatoPrincipal.html" %}

{% block content2 %}
<title>CV Inicio</title> 
{% endblock %}

{% block content %}
<!--  <h2 class="lead"><b>Programador / Desarrollador Web</b></h2> -->
<h4>Programador / Desarrollador Web</h4>
<hr><br>

<!--  <img class="fotojvb" src="{{ url_for ('static', filename='img/fotoJvb.png')}}" alt="Foto de Javier Villarreal" title="Foto de Javier Villarreal" onclicK="cambiar_tamano_imagen()" >
-->

<img class="fotojvb" src="{{ url_for ('static', filename='img/fotoJvb.png')}}" alt="Foto de Javier Villarreal" title="Foto de Javier Villarreal" onclicK="cambiar_tamano_imagen();" >
<p><br>
Profesional con alto desempeño como <b>Desarrollador y <br>
Analista de Sistemas Informáticos</b>, con habilidades <br>
de cálculo avanzado, motivación, liderazgo en los<br>    
equipos de trabajo y Gestión del Talento <br><br><br><br>
<br><br><br>
    </p>

{% endblock %}

