<!-- productosInformaticos -->


{% extends "legacy/formatoPrincipal4.html" %}

{% block content2 %}
<title>CV Productos Informáticos</title> 
{% endblock %}

{% block content %}
<h4>Productos Informáticos</h4>
<hr><p>
    <br><b>Redes neuronales en C++</b> con librerías Fortran. ULA<br>
    Modulo <b>Confiabilidad de Sistemas en C++</b>. UNEFA<br>
    <b>Programación Orientada a objetos</b> en C++.<br>Teoría y Ejercicios. IUTET<br>
    <b>Manejador de Base de Datos</b> DBASE III+. IUTET<br>
    Software <b>“Virus destructivo de DD”</b> en Assembler<br>
    <b>Análisis y Diseño </b>del Sistema Control de Estudios del IUTET<br>
    <b>“Nómina, Inventario y Ventas de Sílice” en Basic</b>. SILBOCA<br>
    <b>Modelado de la transformación de crudos pesados</b>, usan-<br> 
    do esplinas bicúbicas y ecuaciones diferenciales lineales. ULA<br>
    <b>Cambio de código por migración de dominio</b> del Sistema<br>
    planificación y manejo de cuencas hidrográficas<br>en Fortran. CIDIAT<br><br><br>
</p>
{% endblock %}