<!-- soporteProgramacion -->


{% extends "legacy/formatoPrincipal4.html" %}

{% block content2 %}
<title>CV Soporte Programacion</title> 
{% endblock %}

{% block content %}
<h4>Soporte Programación+Herramientas</h4>
<hr><br><p><b>Html</b>/Css/Bootstrap/jQuery<br>
    <b>Java Script/Python</b><br>
    SQL/<b>SQLite</b>/MySQL<br>
    <b>Git</b>/Github<br>
    <b>Flask</b>/Heroku<br>
    C/<b>C++</b><br>
    <b>V</b>isual<b> Basic</b><br> 
    Fortran/Assembler<br>
    <b>ALM 11/Control M</b><br>
    <b>Windows/Linux</b><br>
    <b>Office</b>/OpenSource<br>
    <b>Excel</b> avanzado<br><br><br><br>
</p>
{% endblock %}