* {
    margin:0p x;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
section {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
header {
    width:100%;
}
a{
    font-weight: bold;
}
/*
header nav {
    width:90%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #201b52;    
} 

header .navbar-toggler {
display:none;
}*/
.principal {
    position: relative;
    margin: 10px;
    width: 700px;
    left:320px;
    background-color: #201b52;
/*    background-color: #a9a0fd; */
    display: inline-block;
    text-align: center;
}
.bg-nuevo {
  background-color: #0f0c29;
    color:  whitesmoke;
/*    background-color: #0f0c29;
    color: white; */
}
.carousel-control-prev-icon color-nuevo{
    color: red;
}
h4,h5{
    text-align: center; 
    color: white;
}
h1 {
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white; 
}
.pie {
  background-color: #0f0c29;

    color:  whitesmoke;

    text-align: center;
}
.nav-link {
    color: whitesmoke; 
}
.color-white {
    color: white; 
}
.fotojvb {
    width:120px;
    height:120px;
}
.documento {
    width:50px;
    height:50px;
}
.documentoPag1 {
    width:50px;
    height:50px;
}
.documentoPag2 {
    width:50px;
    height:50px;
}
.titulos {
    width:350px;
    height:300px;
}
.navbar {
    background-color: #071c34;
  }
