
.icon-experiencia-laboral-2:before { content: '\e800'; } /* '' */
.icon-correo:before { content: '\e801'; } /* '' */
.icon-movil:before { content: '\e802'; } /* '' */
.icon-telefono:before { content: '\e803'; } /* '' */
.icon-herramientas-programacion-1:before { content: '\e804'; } /* '' */
.icon-experiencia-laboral-1:before { content: '\e805'; } /* '' */
.icon-casa:before { content: '\e840'; } /* '' */
.icon-listado-documentos:before { content: '\f0ca'; } /* '' */
.icon-herramientas-programacion-2:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-titulos:before { content: '\f19d'; } /* '' */
.icon-documentos:before { content: '\f1c5'; } /* '' */
.icon-fecha-nacimiento:before { content: '\f1fd'; } /* '' */
.icon-producto-informatico1:before { content: '\f247'; } /* '' */
.icon-producto-informatico2:before { content: '\f2b5'; } /* '' */
.icon-direccion:before { content: '\f2bc'; } /* '' */
.icon-rut:before { content: '\f2c2'; } /* '' */